SSH_JUMP_SERVER_IP=...
SSH_JUMP_SERVER_PORT=...
SSH_JUMP_SERVER_USER=...
SSH_JUMP_SERVER_PWD=...

SSH_IMAGES_SERVER_IP=...
SSH_IMAGES_SERVER_PORT=...
SSH_IMAGES_SERVER_USER=...
SSH_IMAGES_SERVER_PWD=...

SERVER_ROOT_PATH=...
SERVER_PUBLIC_URL=...