numpy
Pillow
rembg
moviepy
pandas
huggingface_hub
insightface
wandb
opencv-python
mediapipe
requests
loguru
gradio==5.33.1
soundfile
transformers>=4.51.0,<4.58.0
einops
vector-quantize-pytorch==1.27.20
diffusers==0.37.1
accelerate==1.12.0